@use "sass:math" as *;
.cursor {
	$size: 12px;
	position: fixed;
	top: 0;
	left: 0;

	display: inline-block;

	height: $size;
	width: $size;

	border-radius: 50%;

	transform: translateX(-50%) translateY(-50%);
	z-index: var(--layer-important);
	pointer-events: none;

	&__follower {
		position: absolute;
		inset: 0;

		border-radius: var(--radius-round);
		border: 2px solid var(--fbc, var(--pink-5));

		transition-property: transform;

		&:first-child {
			--fbc: var(--pink-7);
			z-index: var(--layer-2);
		}

		&:last-child {
			z-index: var(--layer-1);
		}
	}
}

body :is(:active, :focus, :focus-within, :focus-visible) .cursor__follower {
	&:first-child {
		// --fbc: var(--pink-5);
		box-shadow: inset 0 0 0 3px var(--pink-7);
		transition: box-shadow 500ms ease-in;
	}

	&:last-child {
		--fbc: var(--pink-3);
	}
}

body {
	cursor: none;
}

.text {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// width: 10px;
	// height: 10px;

	// transform: translate(-50%, -50%);
	&__individual {
		position: absolute;
		top: 0%;
		left: 0%;

		height: 60px;
		width: 10px;

		transform-origin: bottom center;

		@for $i from 1 through 100 {
			&:nth-child(#{$i}) {
				transform: rotate(calc(var(--copy-length) * #{$i}));
			}
		}
	}
}

//  200 - 20
//  100 - x
